# VSCode config for building and running a SDL project
.vscode/

# All SDL files
build/lib
build/include/SDL3

# .exe outputs for better project organization (and the SDL3.dll for running the executable file)
output/
